# config file
__pycache__/
config.cfg 


# training outputs ( keep best model)
./training_outputs/model-last/*

#logs
metrics.json
./Utils/evaluate_model.py

# Ignore all files in Data except train.spacy and dev.spacy
Data/*
!Data/train.spacy
!Data/dev.spacy


# Ignore all files in transformer 
transformer/*
training_outputs/*
